// Import all partials
@require './_*.styl'

.site-header
  display flex
  flex-direction row
  flex-wrap wrap
  background-color gold
  border 5px solid black
  .name-tagline
    background-color red
  .order-link
    background-color #f4f4f4
  >*
    text-align center
